@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
    font-family: 'Alkalami', serif;
}
span{
    font-size: 4rem;
}
.bigdiv{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background: url(img.jpg)  ;
    background-size: 100% 100% !important;
}
.box{
    padding: 50px 90px;
    border-radius: 140px;
width: fit-content;
    box-shadow: rgba(20, 20, 68, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
